<!-- Footer -->


<section class="container-fluid footer">
  <h4 class="pt-4">Explore More</h4>
  <hr>
  <div class="container">

    <div class="row ">
      <div class="col-lg-3">
        <div class="footer-content">
          <h6>Quick links</h6>
          <p>home</p>
          <p>about us</p>
          <p>carears</p>
          <p>events</p>
          <p>news</p>
          <p>contact</p>

        </div>
      </div>

      <div class="col-lg-3">
        <div class="footer-content">
          <h6>OUR HOSPITALS</h6>
          <p>home</p>
          <p>about us</p>
          <p>carears</p>
          <p>events</p>


        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="footer-content ">
          <h6 class="ml-4">News letter</h6>
          <div class="p-4">
            <input type="text" name="" id="" placeholder="Email Address">
            <a href="#">subscribe now</a>
          </div>


          <p class="ml-4">Copyright © 2018 - ANDALUSIA GROUP</p>
          <i class="fa fa-adjust"></i>
          <i class="fa fa-align-center"></i>
          <i class="fa fa-users"></i>

        </div>
      </div>

    </div>
  </div>
</section>
