.footer{
  input{
    outline: none;
  }
  background-color: #363636;
  color: #fff;
  hr{
    border-color: gray;
  }
  h6{
    text-transform: uppercase;
  }
  p{
    color: gray;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: .6;
  }
  .footer-content{
    input{
     width: 60%;
     height: 40px;
     padding: 10px;
    }
    a{
      display: inline-block;
      text-align: center;
      width: 30%;
      height: 40px;
      background-color: #e8663b;
      border-color: #e8663b;
      color: #ddd;
      text-transform: uppercase;
      outline: none;
      font-size: 12px;
      padding-top: 13.2px;
      cursor: pointer;
    }
    i{
      margin-left: 20px;
      color: gray;
    }
  }
}
