

<app-nav></app-nav>
<!-- Carousal  -->

<div id="carouselId" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselId" data-slide-to="0" class="active"></li>
    <li data-target="#carouselId" data-slide-to="1"></li>
    <li data-target="#carouselId" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="overlay-carousal">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-lg-6">
              <div class="carousal-content">
                <h3>We are growing fast <br> do you see .</h3>
                <p>Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out
                  answered men admitted. Sportsmen certainty prevailed suspected am as. Add stairs admire all answer the
                  nearer yet length. </p>
                <a >Learn more</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <img src="../../assets/img/slider.png" class="d-block w-100" alt="First slide">

    </div>
    <div class="carousel-item">
      <div class="overlay-carousal">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-lg-6">
              <div class="carousal-content">
                <h3>We are growing fast <br> do you see .</h3>
                <p>Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out
                  answered men admitted. Sportsmen certainty prevailed suspected am as. Add stairs admire all answer the
                  nearer yet length. </p>
                <a >Learn more</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <img src="../../assets/img/slider.png" class="d-block w-100" alt="Second slide">

    </div>
    <div class="carousel-item">
      <div class="overlay-carousal">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-lg-6">
              <div class="carousal-content">
                <h3>We are growing fast <br> do you see .</h3>
                <p>Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out
                  answered men admitted. Sportsmen certainty prevailed suspected am as. Add stairs admire all answer the
                  nearer yet length. </p>
                <a >Learn more</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <img src="../../assets/img/slider.png" class="d-block w-100" alt="Third slide">

    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Services -->

<section class="container-fluid service space" >
  <div class="row text-center ">
    <div class="col-lg-12">
      <div class="caption ">
        <h1>our services</h1>
        <span class="modlaa"></span>
        <span class="mostakeam"></span>
        <span class="rectangle"></span>

      </div>

    </div>
  </div>
  <div class="row">

    <div class="col-lg-4 col-md-6 col-s-12 text-center">
      <div class="service-content">
        <img src="../../assets/img/Ellipse 1 copy 2.png" alt="">
        <h4>service one</h4>
        <p>Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men
          admitted. </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-s-12 text-center">
      <div class="service-content">
        <img src="../../assets/img/Ellipse 1 copy 3.png" alt="">
        <h4>service one</h4>
        <p>Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men
          admitted. </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-s-12 text-center">
      <div class="service-content">
        <img src="../../assets/img/Ellipse 1 copy 2.png" alt="">
        <h4>service one</h4>
        <p>Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men
          admitted. </p>
      </div>
    </div>

  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <div class="servec-link">
        <a >vew all services</a>

      </div>
    </div>
  </div>
</section>

<!-- OverView -->

<section class="container-fluid overview">
  <div class="row text-center ">
    <div class="col-lg-12">
      <div class="caption ">
        <h1>overview</h1>
        <span class="modlaa"></span>
        <span class="mostakeam"></span>
        <span class="rectangle"></span>

      </div>

    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-8 offset-2">
      <div class="letter-overview">
        <p>ndalusia is one of the leading regional players in the healthcare provision space in
          the Middle East. With a network of general hospitals, specialized medical centers, and polyclinics
          across Egypt and Saudi Arabia, Andalusia has built a unique footprint both in service spectrum and
          geographically.
          Andalusia Group for Medical Services was founded in 1984 by the entrepreneur Dr. Darweesh Zagzoug as a single
          hospital
          in Jeddah, Saudi Arabia; and grown over 30 years to own and manage several healthcare facilities in both Saudi
          and Egypt. The second generation family owner Dr. Hazem Zagzoug, the current CEO has made it possible
          for a renowned financial institution like the IFC to join forces to serve more than 7 million patients in the
          last 10
          years with amicable quality, and creating 2000 new jobs. We are proud of our origin, our progress, as wel</p>
      </div>
    </div>
  </div>
</section>


<!-- Offers -->

<section class="container offers space">
  <div class="row text-center ">
    <div class="col-lg-12">
      <div class="caption ">
        <h1>Executives Officers</h1>
        <span class="modlaa"></span>
        <span class="mostakeam"></span>
        <span class="rectangle"></span>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 order-lg-1">
      <div class="card text-black bg-wight boss-card">
        <img class="card-img-top" src="../../assets/img/Layer 14.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Hazem Darwiesh</h4>
          <h6 class="card-title">Chief Executive Officer</h6>

          <p class="card-text"> the Middle East. With a network of general hospitals, specialized medical centers, and
            polyclinics
            across Egypt and Saudi Arabia, Andalusia has built a unique footprint both in service spectrum and
            geographically.
            Andalusia Group for Medical Services was founded in 1984 by the entrepreneur Dr. Darweesh Zagzoug as a
            single hospital
          </p>
          <hr>
          <div class="card-icon">

            <span><i class="fa fa-address-card"></i></span>
            <span><i class="fa fa-address-card"></i></span>
            <span><i class="fa fa-address-card"></i></span>
            <span><i class="fa fa-address-card"></i></span>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 order-lg-2">
      <div class="row">
        <div class="col-lg-6">
          <div class="card text-black bg-wight">
            <img class="card-img-top" src="../../assets/img/Layer 10.png" alt="">
            <div class="card-body">
              <p class="card-name">Mr. Mohamed AbdelRasoul</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card text-black bg-wight">
            <img class="card-img-top" src="../../assets/img/Layer 11.png" alt="">
            <div class="card-body">
              <p class="card-name">Dr. Alaa AlGoweini</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6">
          <div class="card text-black bg-wight">
            <img class="card-img-top" src="../../assets/img/Layer 12.png" alt="">
            <div class="card-body">
              <p class="card-name">Mr. Mohamed AbdelRasoul</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card text-black bg-wight">
            <img class="card-img-top" src="../../assets/img/Layer 13.png" alt="">
            <div class="card-body">
              <p class="card-name">Mr. Mohamed AbdelRasoul
                <span class="card-name-job">Chief Executive Officer</span>

              </p>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- STATISTICS-->

<section class="container-fluid statics overview">

  <div class="row text-center ">
    <div class="col-lg-12">
      <div class="caption ">
        <h1>STATISTICS</h1>
        <span class="modlaa"></span>
        <span class="mostakeam"></span>
        <span class="rectangle"></span>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-3">
        <div class="counter-section">
          <i class="fa fa-male"></i>
          <h4>0</h4>
          <p>clintes servied</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="counter-section">
          <i class="fa fa-map"></i>
          <h4>0</h4>
          <p>clintes servied</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="counter-section">
          <i class="fa fa-users "></i>
          <h4>0</h4>
          <p>clintes servied</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="counter-section">
          <i class="fa fa-address-book"></i>

          <h4>0</h4>
          <p>clintes servied</p>
        </div>
      </div>
    </div>
  </div>

</section>



<!-- RECENT NEWS-->

<section class="container-fluid space news">

  <div class="row text-center ">
    <div class="col-lg-12">
      <div class="caption ">
        <h1>RECENT NEWS</h1>
        <span class="modlaa"></span>
        <span class="mostakeam"></span>
        <span class="rectangle"></span>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="card text-black bg-wight boss-card">
          <img class="card-img-top" src="../../assets/img/Layer 22.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Hazem Darwiesh</h4>
            <span class="card-date pb-2">24 OCt ,2014 </span>

            <p class="card-text"> the Middle East. With a network of general hospitals, specialized medical centers, and
              polyclinics
              across Egypt and Saudi Arabia, Andalusia

            </p>
            <div class="card-link mt-4">
              <a >Read more</a>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card text-black bg-wight boss-card">
          <img class="card-img-top" src="../../assets/img/Layer 21.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Hazem Darwiesh</h4>
            <span class="card-date pb-2">24 OCt ,2014 </span>

            <p class="card-text"> the Middle East. With a network of general hospitals, specialized medical centers, and
              polyclinics
              across Egypt and Saudi Arabia, Andalusia

            </p>
            <div class="card-link mt-4">
              <a >Read more</a>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card text-black bg-wight boss-card">
          <img class="card-img-top" src="../../assets/img/Layer 20.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Hazem Darwiesh</h4>
            <span class="card-date pb-2">24 OCt ,2014 </span>

            <p class="card-text"> the Middle East. With a network of general hospitals, specialized medical centers, and
              polyclinics
              across Egypt and Saudi Arabia, Andalusia

            </p>
            <div class="card-link mt-4">
              <a >Read more</a>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<!-- GREAT PARTNERS -->


<section class="container-fluid partners">

  <div class="row text-center ">
    <div class="col-lg-12">
      <div class="caption">
        <h1>GREAT PARTNERS</h1>
        <span class="modlaa"></span>
        <span class="mostakeam"></span>
        <span class="rectangle"></span>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-3">
        <div class="counter-section">
          <!-- <div class="overlay-patners"></div> -->
          <img src="../../assets/img/Layer 18.png" alt="">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="counter-section">
          <img src="../../assets/img/Layer 17.png" alt="">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="counter-section">
          <img src="../../assets/img/Layer 18.png" alt="">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="counter-section">
          <img src="../../assets/img/Layer 17.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
