/* You can add global styles to this file, and also import other style files */
// import ' ~ @fortawesome/fontawesome-free/css/all.min.css'

//  $mainColor:#f00

a:hover{
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}
.space{
  padding: 100px;
}
